<div>
  <div class="green center-align title">
    <h2 class="white-text">Registrar Ventas</h2>
  </div>

  <div class="card-content">
    <div class="row">
      <div class="col">
        <h3>
          Ingrese Nombre Del Cliente (Nombre Real, No Apodos!)
          <span class="oblig">*</span>
        </h3>
        <input
          type="text"
          name="name"
          placeholder="Ingrese Nombre"
          [(ngModel)]="name"
        />
      </div>

      <div class="col">
        <h3>Ingrese Producto<span class="oblig">*</span></h3>

        <!-- <input
          type="text"
          placeholder="Producto"
          aria-label="Number"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="product"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of products"
            [value]="option.description"
          >
            {{ option.description }}
          </mat-option>
        </mat-autocomplete> -->
      </div>

      <div class="col">
        <h3>Ingrese Dirección de Domicilio<span class="oblig">*</span></h3>
        <input
          type="text"
          name="address"
          placeholder="Dirección"
          [(ngModel)]="address"
        />
      </div>

      <div class="col">
        <h3>Metodo De Pago</h3>
        <label>
          <input
            type="radio"
            value="Efectivo"
            name="payMethod"
            [(ngModel)]="payMethod"
          />
          <span>Efectivo</span>
        </label>
        <label>
          <input
            type="radio"
            value="Nequi"
            name="payMethod"
            [(ngModel)]="payMethod"
          />
          <span>Nequi</span>
        </label>
        <label>
          <input
            type="radio"
            value="Daviplata"
            name="payMethod"
            [(ngModel)]="payMethod"
          />
          <span>Daviplata</span>
        </label>
      </div>

      <div class="col">
        <h3>Ingrese Celular del Cliente</h3>
        <input
          type="text"
          name="phone"
          placeholder="Celular"
          [(ngModel)]="phone"
        />
      </div>

      <div class="col">
        <h3>Ingrese Cantidad<span class="oblig">*</span></h3>
        <input
          type="number"
          name="quantity"
          placeholder="Cantidad"
          [(ngModel)]="quantity"
        />
      </div>

      <button
        class="btn btnblock waves-effect waves-red btn-large"
        (click)="registerSale()"
        [disabled]="!name || !product || !quantity || !address || !payMethod"
      >
        Registrar Venta
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table>
        <tr>
          <th>Producto</th>
          <th>Domicilio</th>
          <th>Cliente</th>
          <th>Número de celular</th>
          <th>Envar Domicilio</th>
        </tr>
        <tr *ngFor="let item of salesAvailables">
          <td>{{ item.product }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.client }}</td>
          <td>{{ item.phone }}</td>
          <td>
            <button class="btn red" (click)="sendOrder(item.id)">
              En camino
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
