<div class="container">
  <h2>Registrar Insumo</h2>

  <mat-form-field>
    <mat-label>Ingrese Descripción del Insumo</mat-label>
    <input
      type="text"
      name="description"
      placeholder="Ingrese Descripción"
      [(ngModel)]="description"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Ingrese Precio total pagado por el Insumo </mat-label>
    <input
      type="number"
      name="totalprice"
      placeholder="Precio total"
      [(ngModel)]="totalPrice"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Ingrese Cantidad de unidades (en caso de gramos y kg o unidad minima para
      contabilizar en un producto)
    </mat-label>

    <input
      type="number"
      name="quantity"
      placeholder="cantidad"
      [(ngModel)]="quantity"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ingrese Fecha de Vencimiento</mat-label>
    <input
      type="date"
      name="expiredate"
      placeholder="Fecha de Vencimiento"
      [(ngModel)]="expireDate"
    />
  </mat-form-field>
  <mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!description || !totalPrice || !quantity || !expireDate"
      (click)="registerSupplie()"
    >
      Registra Producto
    </button>
  </mat-form-field>
</div>
