<div class="container">
  <div class="light-blue darken-3 title">
    <h2 class="white-text">Revisar Ventas</h2>
  </div>

  <div class="row container center-align">
    <div class="col s12">
      <input type="date" name="date" id="date" [(ngModel)]="dateSelect">
      <button class="btn btnblock waves-effect waves-red">Ver Ventas</button>
    <div>
  </div>

  <div class="container">
    <table>
      <tr>
        <th>Cliente</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Direccion</th>
        <th>Tipo de Pago</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>parrillada familiar</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>Germany</td>
      </tr>
    </table>
    <div>
      <h4>Total Venta del dia:</h4>
      <h5>Total Efectivo:</h5>
    </div>
  </div>

</div>
