<div class="example-container">
  <h2>Registrar Producto</h2>
  <mat-form-field appearance="fill">
    <mat-label>Ingrese Descripción del producto</mat-label>
    <input
      matInput
      type="text"
      name="description"
      placeholder="Ingrese Descripción"
      [(ngModel)]="descriptionProduct"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Ingrese Caracteristicas del producto visible para el cliente
    </mat-label>
    <input
      type="text"
      matInput
      name="descriptionForClient"
      placeholder="Ej: 200 g de carne, papas a la francesa + lechuga"
      [(ngModel)]="descriptionForPublic"
    />
  </mat-form-field>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-form-field>
        <input
          type="text"
          placeholder="Selecciona producto"
          aria-label="Number"
          matInput
          name="producAdd"
          [formControl]="myControl"
          [matAutocomplete]="auto"
          [(ngModel)]="descriptionSupplie"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let product of allSupplies; let i = index"
            [value]="product.description"
          >
            {{ product.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input
          type="number"
          matInput
          name="costprice"
          placeholder="Cantidad"
          [(ngModel)]="quantity"
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        [disabled]="quantity < 1 || !descriptionSupplie"
        (click)="registerSupplie()"
      >
        +
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <table>
    <tr>
      <td>Insumo</td>
      <td>Cantidad</td>
      <td>Precio</td>
      <td>Eliminar</td>
    </tr>
    <tr *ngFor="let supplie of supplies; let i = index">
      <th>{{ i }} - {{ supplie.description }}</th>
      <th>{{ supplie.amount }}</th>
      <th>{{ supplie.price }}</th>
      <th>
        <button (click)="deleteSupplie(i, supplie.price)">Eliminar</button>
      </th>
    </tr>
    <tr>
      <th>
        <h3>Costo de Materia Prima: {{ costPrice }}</h3>
      </th>
    </tr>
  </table>
  <mat-form-field>
    <mat-label>Ingrese Costo De producción</mat-label>
    <input
      matInput
      type="number"
      name="productioncost"
      placeholder="Costo De producción"
      [(ngModel)]="productionCost"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Ingrese Precio De venta </mat-label>
    <input
      matInput
      type="number"
      name="saleprice"
      placeholder="Precio De venta"
      [(ngModel)]="salePrice"
    />
  </mat-form-field>
  <button
    class="btn btnblock waves-effect waves-red btn-large"
    [disabled]="
      !descriptionProduct ||
      !descriptionForPublic ||
      !costPrice ||
      !productionCost ||
      !salePrice
    "
    (click)="registerProduct()"
  >
    Registra Producto
  </button>
</div>
