<div class="container">
  <div class="light-blue darken-3 title">
    <h2 class="white-text">Registrar Producto</h2>
  </div>

  <div class="container">
    <form action="post">
      <div class="row">
        <div class="col s12">
          <h2>Ingrese Descripción del producto</h2>
          <input
            type="text"
            name="description"
            placeholder="Ingrese Descripción"
            [(ngModel)]="description"
          />
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h2>Ingrese Caracteristicas del producto visible para el cliente</h2>
          <input
            type="text"
            name="supplies"
            placeholder="Ej: 200 g de carne, papas a la francesa + lechuga"
            [(ngModel)]="descriptionForCliente"
          />
        </div>
      </div>

      <div class="row">
        <h2>Ingrese Precio Materia Prima</h2>
        <mat-grid-list cols="5">
          <mat-grid-tile>
            <mat-form-field>
              <input
                type="text"
                placeholder="Selecciona producto"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
                [(ngModel)]="descriptionSupplie"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let product of allSupplies"
                  [value]="product.description"
                >
                  {{ product.description }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <input
              type="number"
              name="costprice"
              placeholder="Cantidad"
              [(ngModel)]="quantity"
            />
          </mat-grid-tile>
          <mat-grid-tile>
            <button
              [disabled]="quantity < 1 || !descriptionSupplie"
              (click)="registerSupplie()"
            >
              +
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <mat-grid-list cols="0">
        <table>
          <tr>
            <td>Insumo</td>
            <td>Cantidad</td>
            <td>Precio</td>
            <td>Eliminar</td>
          </tr>
          <tr *ngFor="let supplie of supplies">
            <th>{{ supplie.description }}</th>
            <th>{{ supplie.amount }}</th>
            <th>{{ supplie.price }}</th>
            <th>
              <button (click)="deleteSupplie(supplie.id)">Eliminar</button>
            </th>
          </tr>
          <tr>
            <th>
              <h3>total: {{ totalSupplies }}</h3>
            </th>
          </tr>
        </table>
      </mat-grid-list>

      <div class="row">
        <div class="col s12">
          <h2>Ingrese Costo De producción</h2>
          <input
            type="number"
            name="productioncost"
            placeholder="Costo De producción"
            [(ngModel)]="productionCost"
          />
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h2>Ingrese Precio De venta</h2>
          <input
            type="number"
            name="saleprice"
            placeholder="Precio De venta"
            [(ngModel)]="salePrice"
          />
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <button
          class="btn btnblock waves-effect waves-red btn-large"
          [disabled]="
            !description ||
            !descriptionForCliente ||
            !costPrice ||
            !productionCost ||
            !salePrice
          "
          (click)="registerProduct()"
        >
          Registra Producto
        </button>
      </div>
    </div>
  </div>
</div>
