<div class="container">
  <div class="light-blue darken-3 title">
    <h2 class="white-text">Revisar Ventas</h2>
  </div>

  <div class="row center-align">
    <div class="col s12">
      <input type="date" name="date" id="date" [(ngModel)]="dateSelect" />
      <button
        (click)="findSalesForDay()"
        [disabled]="!dateSelect"
        class="btn btnblock waves-effect waves-red"
      >
        Ver Ventas del día seleccionado
      </button>
      <div class="s12">
        <h5 class="left-align">Ventas Día Actual</h5>
        <table>
          <tr>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Direccion</th>
            <th>Tipo de Pago</th>
            <th>Total</th>
          </tr>
          <tr *ngFor="let item of sales">
            <td>{{ item.client }}</td>
            <td>{{ item.product.description }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.payMethod }}</td>
            <td>{{ item.product.price }}</td>
          </tr>
        </table>
        <div>
          <h5>Total Venta del dia: {{ total }}</h5>
          <h6>Total Efectivo: {{ totalEfecty }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
