<div >
  <div class="green center-align title">
    <h2 class="white-text">Registrar Ventas</h2>
  </div>
  <div class="row">

    <div class="col s6 card">
      <div class="card-content">
        <form action="post">
          <div class="row">
            <div class="col s12">
              <h6>Ingrese Nombre Del Cliente (Nombre Real, No Apodos!) <span class="oblig">*</span> </h6>
              <input type="text" name="name" placeholder="Ingrese Nombre" [(ngModel)]="name">
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h6>Ingrese Producto <span class="oblig">*</span></h6>
              <input type="text" name="product" placeholder="Producto" [(ngModel)]="product">
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h6>Ingrese Cantidad<span class="oblig">*</span></h6>
              <input type="number" name="quantity" placeholder="Cantidad" [(ngModel)]="quantity">
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h6>Ingrese Dirección de Domicilio<span class="oblig">*</span></h6>
              <input type="text" name="address" placeholder="Dirección" [(ngModel)]="address">
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h6>Ingrese Metodo De Pago<span class="oblig">*</span></h6>
              <input type="text" name="quantity" placeholder="Cantidad" [(ngModel)]="methodPay">
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h6>Ingrese Celular del Cliente</h6>
              <input type="text" name="phone" placeholder="Celular" [(ngModel)]="phone">
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h6>Ingrese Email del Cliente</h6>
              <input type="text" name="email" placeholder="Email" [(ngModel)]="email">
            </div>
          </div>
        </form>
      </div>

      <div class="container">
        <div class="row">
          <div class="col s12 center-align">
            <button class="btn btnblock waves-effect waves-red btn-large" (click)="registerSale()" [disabled]="!name || !product || !quantity">Registra Venta</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col s6 card">
      <div class="row">
        <div class="col">
          <table>
            <tr>
              <th>Producto</th>
              <th>Domicilio</th>
              <th>cliente</th>
              <th>Numero</th>
              <th>Estado</th>
            </tr>
            <tr>
              <td>Picadax2</td>
              <td>Los heroes frente a drogueria</td>
              <td>Brayan David Tobar Tonguino</td>
              <td>3193983994</td>
              <td>En Preparacion</td>
            </tr>
          </table>
        </div>
      </div>


    </div>
  </div>


</div>
