<div class="container">
  <h2>Registrar Producto</h2>
  <div class="row">
    <div class="col s12">
      <h5>Ingrese Descripción del producto</h5>
      <input
        type="text"
        name="description"
        placeholder="Ingrese Descripción"
        [(ngModel)]="descriptionProduct"
      />
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col s12">
        <h5>Ingrese Caracteristicas del producto visible para el cliente</h5>
        <input
          type="text"
          name="descriptionForClient"
          placeholder="Ej: 200 g de carne, papas a la francesa + lechuga"
          [(ngModel)]="descriptionForPublic"
        />
      </div>
    </div>

    <div class="row">
      <div class="col s4">
        <div>
          <h6>Ingrese Producto</h6>
        </div>
        <div class="ng-autocomplete inputt">
          <ng-autocomplete
            [data]="allSupplies"
            [searchKeyword]="keyword"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
            (selected)="selectEvent($event)"
            [(ngModel)]="descriptionSupplie"
          >
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.description"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>
      <div class="col s4">
        <div><h6>Ingrese Cantidad</h6></div>
        <div class="row">
          <input
            type="number"
            name="costprice"
            placeholder="Cantidad"
            [(ngModel)]="quantity"
          />
        </div>
      </div>
      <div class="col s4">
        <div><h6>Agregar</h6></div>
        <button
          [disabled]="quantity < 1 || !idSupplie"
          (click)="registerSupplie()"
        >
          +
        </button>
      </div>
    </div>
    <table>
      <tr>
        <td>Insumo</td>
        <td>Cantidad</td>
        <td>Precio</td>
        <td>Eliminar</td>
      </tr>
      <tr *ngFor="let supplie of supplies; let i = index">
        <th>{{ supplie.description }}</th>
        <th>{{ supplie.amount }}</th>
        <th>{{ supplie.price }}</th>
        <th>
          <button (click)="deleteSupplie(i, supplie.price)">Eliminar</button>
        </th>
      </tr>
      <tr>
        <th>
          <h5>Costo de Materia Prima: {{ costPrice }}</h5>
        </th>
      </tr>
    </table>
    <div class="row">
      <h5>Ingrese Costo De producción</h5>
      <input
        type="number"
        name="productioncost"
        placeholder="Costo De producción"
        [(ngModel)]="productionCost"
      />
    </div>
    <div class="row">
      <h5>Ingrese Precio De venta</h5>
      <input
        type="number"
        name="salepric"
        placeholder="Precio De venta"
        [(ngModel)]="salePrice"
      />
    </div>
    <button
      class="btn btnblock waves-effect waves-red btn-large"
      [disabled]="
        !descriptionProduct ||
        !descriptionForPublic ||
        !costPrice ||
        !productionCost ||
        !salePrice
      "
      (click)="registerProduct()"
    >
      Registra Producto
    </button>
  </div>
</div>
