<div class="container">
  <div class="card">
    <div>
      <h1>El Bunker Consacá</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <p>Founded by Brayan T. & Cristian C.</p>
        </div>
        <div class="card-action">
          <a href="https://api.whatsapp.com/send?phone=+573166759863"
            >Whatsapp</a
          >
          <a
            href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTc0NjMxMTMxNDA2MTAz?utm_medium=copy_link"
            >Instagram</a
          >
          <a href="https://facebook.com">Facebook</a>
        </div>
        <div class="card-content">Contactanos</div>
      </div>
    </div>
  </div>
</div>
